:root{
  --blue: rgb(0, 52, 89);
  --buttonsColors: #027BFF;
  --blue2: #a6c7eb;

  --widthLeft: 450px;
  --widthRight: calc(100% - var(--widthLeft));

  --defaultBorder: 1px solid #2727272d;
  --gray: #D9D9D9;
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}

body{
  margin: 0;
  position: fixed;
}

.app{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--widthLeft) var(--widthRight);
  grid-template-rows: 55px calc(100% - 110px) 55px;
}